body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product {
    background: white;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

button {
    background: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
